
<ng-template #loading>
  <div class="alert alert-info">
    <span>Espere por favor...</span>
  </div>
</ng-template>




<div *ngIf="country; else loading">
  <div class="row">
    <div class="col-12">
      <h2>Pais: <strong>{{country.name.common}}</strong>
      </h2>
      <hr>
    </div>
  </div>


<div class="row">
  <div class="col-4">
    <h3>Bandera</h3>
    <img [src]="country.flags.svg" alt="country.name.common" class="img-thumbnail">
  </div>
  <div class="col">
    <h3>Información</h3>
    <ul class="list-group">

      <li class="list-group-item">
        <strong>Población:</strong> {{country.population | number}}
      </li>
      <li class="list-group-item">
        <strong>Código:</strong> {{country.cca3}}
      </li>
      <li class="list-group-item">
        <strong>Capital:</strong> {{country.capital}}
      </li>

    </ul>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <h3>Traducciones</h3>
    <div class="d-flex flex-wrap">
      <span>Arabe: </span><span class="badge bg-primary m-1">{{country.translations['ara'].common}}</span>
      <span>Español: </span><span class="badge bg-primary m-1">{{country.translations['spa'].common}}</span>
      <span>Ruso: </span><span class="badge bg-primary m-1">{{country.translations['rus'].common}}</span>
      <span>Italiano: </span><span class="badge bg-primary m-1">{{country.translations['ita'].common}}</span>
      <span>Portuges: </span><span class="badge bg-primary m-1">{{country.translations['bre'].common}}</span>
    </div>
  </div>
</div>


</div>
